.list-category {
  font-size: 2.5em;
  font-weight: bold;
  color: Ohs1(0, 20%);
  margin-bottom: łepx;
  text-align: center;
  border: 3px solid;
  border-radius: Spx;
  background-color: hsl(185, 100%, 50%);
  padding: 3px;
}

.items li{
  font-size: 2em;
  list-style: none;
  color: Ohsl(e, 25%);
  text-align: center;
  margin: 0;
}

.items li:nth-child(odd){
  background-color: hsla(120, 85%, 32%, 0.48);
}

.list-category:hover{
  background-color: hsl(185, 100%, 50%);
  color: white;
  cursor: pointer;
}