.counter-container {
  
  justify-content: center;
  align-items: center;
  height: 100vh;
  
}

.counter-display{
  font-size: 10em;
  margin-top: 0;
  margin-bottom: 50px;
  /* center */
  text-align: center;
  font-weight: bold;
}

.counter-button{
  font-size: 2em;
  padding: 10px 20px;
  margin: 0 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.counter-button:hover{
  background-color: hsl(104, 87%, 66%);
}